.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.modal {
  height: 50px;
  width: 100px;
  background-color: #fff;
  border: 1px solid burlywood;
  border-radius: 20px;
  font-size: 16px;
  color: #282c34;
  padding: 5px;
  position: absolute;
}

h1{
  position: absolute;
  top:0;
  /* margin: auto; */
  left: 30%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
